{% extends "nasassistant/layout.html" %}

{% block body %}

<main class="main1 flex">
  <div class="circleGreen"></div>
  <div class="jupiterContainer" id="jupiterContainer"><img src="static/nasassistant/img/5.png" alt=""></div>
  <div class="pictureDayContainer flex picDc">
    <div class="moonContainer flex mConta">
      <div class="moonContainer1 "><img src="static/nasassistant/img/2.png" alt="" id="moonPicture" class="im"></div>
    </div>
    <div class="pictureDayContainer1 flex pMoonContainer">
      <div class="pictureDayContainer2">
        <h2 class="dayTitle"><span class="dayTitleSpan">SEE THE</span> PICTURE OF THE DAY</h2>
        <div id="h3Title"></div>
        <div id="dayP1"></div>
        <p class="dayP" id="explan">Press the button to obtain an image of the universe that NASA has prepared
          for you today.
          Every day there will be a different image.</p>

        <button class="dayButtonD but" id="dayButtonD">Image of the day</button>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="line1">
    <p class="linep">By: Andrés Eduardo Genes</p>
  </div>
  <div class="line2">
    <div>
      <img src="static/nasassistant/img/harvard.png" alt="" id="line2-1">
    </div>
    <p class="linep">Cambridge, MA, United States</p>
    <img src="static/nasassistant/img/harvard-engineering.png" alt="" id="line2-2">
    <p class="linep">Harvard School of Engineering and Applied Sciences.</p>
  </div>
  <div class="line3">
    <p class="linep">Professors: Brian Yu (brian@cs.harvard.edu) & David J. Malan (malan@cs.harvard.edu)</p>
  </div>
</footer>
{% endblock %}