{% extends "nasassistant/layout.html" %}

{% block body %}
<div class="mainExoContainer">
  <main class="main1Exo flex">
    <div class="circleGreen"></div>
    <div class="marsContainer" id="marsContainer"></div>
    <div class="pictureMarsContainer flex exoContainer">
      <div class="moonContainer flex videoContainer">
        <div class="curiosityContainer1"></div>
        <video src="static/nasassistant/img/Exoplanets.mp4" autoplay preload muted loop class="exoPl"></video>
      </div>
      <div class="pictureDayContainer1 flex pdc1">
        <div class="pictureDayContainer2">
          <h2 class="dayTitleExo"><span class="dayTitleSpanExo">SIZE</span> COMPARISON OF EXOPLANETS</h2>
          <div id="dayP1"></div>
          <p class="dayP" id="marsExplan">NASA has found more than 9000 exoplanets, now we will compare 8 of them.

            The largest exoplanet and the smallest and 6 more.

            You can see them orbiting, you can also change the viewing angle, controlling it with the mouse.
          </p>
          <form action="{% url 'exoplanets_comparison' %}">
            <button class="dayButton but dButt dB">See exoplanets</button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
<footer>
  <div class="line1">
    <p class="linep">By: Andrés Eduardo Genes</p>
  </div>
  <div class="line2">
    <div>
      <img src="static/nasassistant/img/harvard.png" alt="" id="line2-1">
    </div>
    <p class="linep">Cambridge, MA, United States</p>
    <img src="static/nasassistant/img/harvard-engineering.png" alt="" id="line2-2">
    <p class="linep">Harvard School of Engineering and Applied Sciences.</p>
  </div>
  <div class="line3">
    <p class="linep">Professors: Brian Yu (brian@cs.harvard.edu) & David J. Malan (malan@cs.harvard.edu)</p>
  </div>
</footer>


{% endblock %}