@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.navbar {
  left: 0px;
  margin-top: 0vh;
  flex-direction: row;
  width: 100vw;
  height: 9vh;
  position: relative;
  z-index: 100;
  background: linear-gradient(180deg, #383B40 0%, #27292D 100%);
  box-shadow: 0px 20px 20px rgba(39, 41, 45, 0.15);
}

.navbar.active {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: flex-start;
  z-index: 600;
}

.nav1 {
  margin-left: -2vh;
  padding: 0;
  height: 6vh;
  width: 96vw;
  border: 2px #b3b4b5 solid;
  justify-content: space-between;
}

.nav1.active {
  width: 80vw;
  border: none;
}

.logo {
  flex-direction: row;
  margin-left: 30px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo1,
.logo2,
.navMenuUl {
  margin-bottom: -2px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  color: #b3b4b5;
  font-size: 1.2em;
  margin-left: 10px;
}

.navMenu {
  margin-right: 30px;
}

.navMenuUl {
  flex-direction: row;
  margin-right: -36vw;
}

.navMenuUl.active {
  height: 50vh;
  width: 50vw;
  margin-top: 40vh;
  flex-direction: column;
  background: none;
  transition: ease-in-out 1s;
}

.navMenu ul li {
  list-style: none;
}

.navMenu ul li a {
  display: inline-block;
  color: #b3b4b5;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  font-size: 0.8em;
  font-family: 'montserrat';
}

.navMenu ul li a:hover {
  color: #cddc39;
  transition: ease-in-out .5s;
}

.navMenu ul li a img {
  width: 26px;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url(/static/nasassistant/img/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
  margin-left: 25px;
  visibility: hidden;
}

.toggle.active {
  background-image: url(/static/nasassistant/img/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.homeButton {
  background: #010101;
  color: #b3b4b5;
  font-weight: 700;
  width: 120px;
  height: 34px;
  border-radius: 5px;
  margin-left: 30px;
  border: 2px #010101 solid;
  transition: ease-in-out .5s;

}

.homeButton:hover {
  background: none;
  color: #010101;
  font-weight: 900;
}

.homeButton a {
  border: 1px #fff solid;
  margin-left: -10px;
}

.login {
  background: #B3B4B5;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  margin-left: 30px;

}

.login a img {
  width: 16px;
  margin-right: 44px;
}

#logg {
  color: #cddc39;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  font-size: 0.8em;
  font-family: 'montserrat';
}

/*Responsive----------------------*/

@media (max-width: 1280px) {
  .navMenu {
    margin-left: -100px;
  }

  .navMenu .navMenuUl li a {
    font-size: 0.6em;
  }

}

@media (max-width: 820px) {
  .navbar {
    width: 100vw;
  }

  .nav1 {
    margin-left: -12vw;
    width: 86vw;
  }

  .logo {
    margin-left: 10px;
  }

  h1 {
    font-size: 0.9em;
  }

  .navMenu {
    visibility: hidden;
  }

  .navMenuUl.active li {
    margin-top: 30px;
    margin-left: -5vw;
  }

  .toggle {
    visibility: visible;
    margin-right: 20px;
  }

  #headerList {
    margin-right: 30px;
    visibility: hidden;
  }

  #headerList.active {
    visibility: visible;
    flex-direction: column;
  }

  #headerList.active li a {
    margin: 15px;
  }

  #headerList.active li a:hover {
    color: #9b2364;
    letter-spacing: 1px;
  }

  #headerList.active .liContacto a {
    margin-left: 15px;
  }

  #headerList.active li .toggle {
    margin-top: 30px;
  }

}

@media (max-width: 480px) {
  .nav1 {
    margin-left: 0vh;
  }

  .logo1 img {
    width: 6vw;
    height: 4vh;
  }

  h1 {
    font-size: 0.6em;
  }

  .navMenu {
    margin-left: -15vw;
  }

  .navbar {
    width: 100vw;
  }

  .nav1 {
    width: 80vw;
    margin-left: -15vw;
  }

  .logo {
    margin-left: 10px;
  }

  h1 {
    font-size: 0.9em;
  }

  .navMenu {
    visibility: hidden;
  }

  .navMenuUl.active {
    margin-left: -90vw;
  }

  .navMenuUl.active li {
    margin-top: 5px;
    margin-left: -5vw;
  }

  .toggle {
    visibility: visible;
    margin-right: 20px;
  }

  #headerList {
    margin-right: 30px;
    visibility: hidden;
  }

  #headerList.active {
    visibility: visible;
    flex-direction: column;
  }

  #headerList.active li a {
    margin: 15px;
  }

  #headerList.active li a:hover {
    color: #9b2364;
    letter-spacing: 1px;
  }

  #headerList.active .liContacto a {
    margin-left: 15px;
  }

  #headerList.active li .toggle {
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .navMenuUl.active {
    margin-left: -100vw;
  }
}

/*Photo of the Day---------------------------------*/

.main1 {
  width: 100vw;
  height: 90vh;
  background: #383B40;

}

.pictureDayContainer {
  width: 80vw;
  height: 68vh;
  border-radius: 50px;
  position: absolute;
  left: 9vw;
  top: 16vh;
  flex-direction: row;
  z-index: 200;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 20px 20px rgba(56, 59, 64, 0.15);
  backdrop-filter: blur(5px);
}

.moonContainer {
  width: 50%;
  height: 74vh;
  margin-left: -5vw;
  z-index: 300;
}

.moonContainer1 {
  z-index: 400;
  width: 100%;
}

.moonContainer1.mC1 {
  margin-right: -23vw;
}

.moonContainer1 img {
  z-index: 500;
  width: 110%;
  margin-left: -5vw;
  border-radius: 20px;
}

.im.imgSize {
  width: 35vw;
}

.circleGreen {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1450px;
  top: 620px;
  background: #CDDC39;
  border-radius: 50%;
  filter: blur(15px);
}

#jupiterContainer {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 1283px;
  top: 70px;
}

#jupiterContainer img {
  width: 100%;
  margin-top: -60px;
}

.pictureDayContainer2 {
  font-family: 'Philosopher', sans-serif;
  height: 50vh;
  padding: 20px;
  border-radius: 30px;
  position: relative;
  border: 2px black solid;
}

.dayTitle {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.dayTitleSpan {
  border-bottom: 2px #CDDC39 solid;

}

.dayButton {
  position: absolute;
  left: 5vw;
  top: 51vh;
  color: #ffffff;
  width: 150px;
  height: 50px;
  background: #000;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}

.dayButton:hover {
  background: #CDDC39;
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
  color: #383B40;
  font-weight: 700;
}

.dayP.explaP {
  font-size: 0.9em;
  margin-top: 10px;
}

/*Responsive---------------------------------*/
@media (max-width: 1366px) {
  .dayP.explaP {
    font-size: 0.7em;
  }

  #jupiterContainer {
    width: 300px;
    height: 300px;
    left: 900px;
  }

  .circleGreen {
    width: 100px;
    height: 100px;
    left: 1050px;
    top: 500px;
  }
}

@media (max-width: 820px) {

  #jupiterContainer {
    left: 500px;
    top: 100px;
  }

  .circleGreen {
    left: 500px;
    top: 800px;
  }

  .pictureDayContainer {
    width: 96vw;
    left: 1vw;
    padding: 10px;
  }

  .im.imgSize {
    width: 43vw;
  }
}

@media (max-width: 414px) {
  .main1 {
    height: 120vh;
  }

  #jupiterContainer {
    width: 150px;
    height: 150px;
    left: 250px;
  }

  .circleGreen {
    width: 50px;
    height: 50px;
    left: 250px;
    top: 800px;
  }

  .pictureDayContainer {
    left: 0vw;
    flex-direction: column;
    height: 100vh;
    margin-top: -5vh;
  }

  .pictureDayContainer1 {
    width: 80vw;
    margin-left: -1vw;
    margin-top: -20vh;
  }

  .im.imgSize {
    width: 80vw;
  }

  .moonContainer {
    width: 60vw;
    margin-top: -25vh;
    margin-left: 2vw;
  }

  .im.imgSize {
    margin-left: -23vw;
  }

}

@media (max-width: 393px) {
  .dayP.explaP {
    font-size: 0.6em;
  }
}

@media (max-width: 360px) {
  .dayP.explaP {
    font-size: 0.55em;
  }

  #jupiterContainer {
    margin-top: -40px;
    left: 200px;
  }
}